{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {% if category %} {{ category.name }} {% else %}Products{% endif %}
{% endblock %}

{% block content %}

    <div id="main" class="product-list">
        <h3>{% if category %}{{ category.name }} {% else %}Products{% endif %}</h3>
        {% for product in products %}
            <div class="item">
                <a href="{% url 'product-detail' product.id product.slug %}">
                    <img src="{% if product.image %}{{ product.image.url }} {% else %} {% static "img/no_image.png" %} {% endif %}">
                </a>
                <a href="{% url 'product-detail' product.id product.slug %}">{{ product.name }}</a><br>
                {{ product.price }} zł
            </div>
        {% endfor %}
    </div>
{% endblock %}