{% extends "shop/base.html" %}

{% block content %}
<h2>Search products:</h2>
<form method="post" action="">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Search" />
</form>

{% for product in list_of_products %}
<li><a href="{% url 'product-detail' product.id product.slug %}">
    <img src="{% if product.image %}{{ product.image.url }} {% else %} {% static "img/no_image.png" %}{% endif %}">
    </a>
    <a href="{%  url 'product-detail' product.id product.slug %}">{{ product }}</a></li>
{% empty %}
No products
{% endfor %}
{% endblock %}