{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mój sklep {% endblock %}</title>
</head>
<body>
<img class="logo"
        src="/static/start.jpeg"/>
    <div id="header">
        <a href="{% url 'home' %}" class="logo">My mini shop</a>
    </div>
    <div id="subheader">
        <div class="cart">
            {% with total_items=cart|length %}
                {% if cart|length > 0 %}
            Cart:
                <a href="{% url 'cart-detail' %}">
                    {{ total_items }} product
                    {{ cart.get_total_price }} zł
                </a>
                {% else %}
                The cart is empty.
                {% endif %}
            {% endwith %}
        </div>
        <div class="login">
{#            <a href="{% url 'login' %}">Log in</a>#}
            <p>You are login as {{ user }}</p>
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}">logout</a>
                    {% else %}
                        <a href="{% url 'login' %}">login</a>
                    {% endif %}
        </div>
        <div class="login">
            <a href="{% url 'create-user' %}">Create user</a>
        </div>
    </div>
    <div id="content">
        {% block content %}

        {% endblock %}
    <div>
        {% block footer %}


        {% endblock %}
    </div>
    </div>
</body>
</html>